.bird-details {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  width: 100%;
  min-height: 363px;
}

.card-body{
  display: flex;
  padding: 0;
  flex-direction: row;
  min-height: 173px;
}

.instruction{
  display: block;
}
.instruction span{
  display: block;
}

.bird-details .bird-image {
  height: 155px;
  border-radius: 10px;
  object-fit: contain;
  margin-right: 2rem;
}

.bird-details .list-group-item {
  padding: .25rem;
}

.bird-details .list-group-item .term{
  margin-right: .5rem;
}

.rhap_controls-section{
  flex: none;
}

.rhap_container{
  padding: 0;

  border: none;
}

.rhap_main{
  background-color:#303030;
}

.rhap_time{
  color: #f0f0f0;
}

button:focus, .rhap_progress-container {
  outline: none;
}

.rhap_additional-controls{
  display: none;
}

@media (max-width: 996px) {
  .bird-details {
    margin-bottom: 1rem;
  }
 .card-body{
   display: block;
   text-align: center;
 }
 .rhap_container{
   margin: 0 auto !important;
 }
}
