.header {
  margin-top: .5rem;
  flex-direction: column;
}

.logo {
  background-image: url('../../assets/logo.svg');
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.score{
  position: relative;
  top: 17px;
}

.header ul li {
  list-style: none;
  flex: auto;
  margin: 0;
  border-radius: 3px;
}

.header ul li:hover {
  background-color: #444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
}

.header h3 a:hover {
  color: #00bc8c;
}

.top-panel{
   margin-top: 15px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.pagination{
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.page-link{
  background-color: #008966;
  border-color: #007c5d;
}

.page-link:hover {
  background-color: #008966;
}

.active{
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #00efb2;
  border-color: transparent;
}